title = "Movies"
url = "/movies/:page?"
layout = "default"
is_hidden = 0

[builderList]
modelClass = "Voodooley\Movies\Models\Movie"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "title"
noRecordsMessage = "No records found"
detailsPage = "movie-single"
detailsKeyColumn = "slug"
detailsUrlParameter = "slug"
recordsPerPage = 5
pageNumber = "{{ :page }}"
==
{% set records = builderList.records %}
{% set displayColumn = builderList.displayColumn %}
{% set noRecordsMessage = builderList.noRecordsMessage %}
{% set detailsPage = builderList.detailsPage %}
{% set detailsKeyColumn = builderList.detailsKeyColumn %}
{% set detailsUrlParameter = builderList.detailsUrlParameter %}

<main class="main">
    <div class="container">

        <h1 class="page__title">Все фильмы</h1>

        <ul class="films">
            {% for record in records %}
                <li class="films__item film">

                    <img src="{{ record.poster.path | resize(100,150) }}" alt="Постер к фильму '{{ record.title }}'"
                         class="film__poster">

                    <div class="film__content">
                        <h2 class="film__title">
                            {# Use spaceless tag to remove spaces inside the A tag. #}
                            {% spaceless %}
                                {% if detailsPage %}
                                    <a href="{{ detailsPage|page({ (detailsUrlParameter): attribute(record, detailsKeyColumn) }) }}"
                                    class="film__link">
                                {% endif %}

                                {{ record.title }}

                                {% if detailsPage %}
                                    </a>
                                {% endif %}
                            {% endspaceless %}
                        </h2>

                        <span class="film__value">
                            {{ record.year }}
                        </span>
                        <div class="film-info">
                            {% for movGenre in record.genres %}
                                <a class="film-info__link" href="/genres/{{ movGenre.slug }}">
                                    {{ movGenre.title|lower }}{% if not loop.last %}, {% endif %}
                                </a>
                            {% endfor %}
                        </div>
                    </div>

                </li>
            {% else %}
                <li class="no-data">{{ noRecordsMessage }}</li>
            {% endfor %}
        </ul>

        {% if records.lastPage > 1 %}
            <ul class="films-pagination">
                {% if records.currentPage > 1 %}
                    <li class="films-pagination__item"><a class="films-pagination__link"
                                                          href="{{ this.page.baseFileName|page({ (pageParam): (records.currentPage-1) }) }}">&larr;
                            Предыдущий</a></li>
                {% endif %}

                {% for page in 1..records.lastPage %}
                    <li class="films-pagination__item">
                        <a href="{{ this.page.baseFileName|page({ (pageParam): page }) }}"
                           class="films-pagination__link {{ records.currentPage == page ? 'films-pagination__link--active' : null }}">
                            {{ page }}
                        </a>
                    </li>
                {% endfor %}

                {% if records.lastPage > records.currentPage %}
                    <li class="films-pagination__item">
                        <a href="{{ this.page.baseFileName|page({ (pageParam): (records.currentPage+1) }) }}"
                           class="films-pagination__link">
                            Следующий&rarr;
                        </a>
                    </li>
                {% endif %}
            </ul>
        {% endif %}
    </div>
</main>
