:root {

//    Colors #679186  #ffebd3
    --color--active: #fe9971;
    --color-green: #379956;
    --color-yellow: #ffc85b;
    --color-grey: #eeeeee;
    --color-blue: #234c63;
    --color-text-main: #0d1321;
}
