       <footer class="footer">
           <div class="container footer__container">
               <div class="logo footer__logo">Watchlearn</div>
               <p class="footer__copyright">&copy; {{ 'now' | date('Y') }} voodooley</p>
           </div>
       </footer>


        <!-- Scripts -->
        <script src="{{ [
            '@jquery',
            '@framework',
            '@framework.extras',

            'assets/js/app.js',
        ] | theme }}"></script>
        {% scripts %}

        {% flash %}
            <p data-control="flash-message" data-interval="7" class="flashmessage {{ type }}">
                {{ message }}
            </p>
        {% endflash %}
    </body>
</html>
