.films {
    display: flex;
    flex-direction: column;

    &-pagination {
        display: flex;

        &__item {
            &:not(:last-child) {
                margin-right: 15px;
            }
        }

        &__link {
            color: var(--color-green);
        }
    }
}

.film {
    display: flex;
    gap: 30px;
    margin-bottom: 35px;

    &__content {
        display: flex;
        flex-direction: column;
    }

    &__poster {
        display: block;
        width: 100px;
        height: 150px;
        object-fit: cover;
    }

    &__title {
        margin-bottom: 20px;
        font-size: 24px;
        color: var(--color-blue);
    }

    p {
        color: var(--color-text-main);
        &:not(:last-child) {
            margin-bottom: 15px;
        }
    }

    &__description {
        margin-bottom: 30px;

        p {
            color: var(--color-text-main);
            &:not(:last-child) {
                margin-bottom: 15px;
            }
        }
    }

    &__info {
        display: flex;
        align-items: center;
        gap: 15px;
    }
}
