.films {
    display: flex;
    flex-direction: column;

    &-pagination {
        display: flex;

        &__item {
            &:not(:last-child) {
                margin-right: 15px;
            }
        }

        &__link {
            color: var(--color-green);
            transition: color 150ms linear;

            &--active {
                color: var(--color-active);
            }

            &:hover {
                color: var(--color-active);
                transition: color 150ms linear;
            }
        }
    }
}

.film {
    display: flex;
    gap: 30px;
    padding: 20px;
    margin: 0 -20px;
    border-radius: 10px;
    transition: background-color .2s ease-in-out;

    &:hover {
        background-color: var(--color-grey-light);
        transition: background-color .2s ease-in-out;
    }

    &__content {
        display: flex;
        flex-direction: column;
    }

    &__poster {
        display: block;
        width: 100px;
        height: 150px;
        object-fit: cover;
    }

    &__title {
        font-family: var(--font-h);
        font-weight: 500;
        font-size: 20px;
        color: var(--color-blue);
        transition: color .2s ease-in-out;

        &:hover {
            color: var(--color-blue-light);
            transition: color .2s ease-in-out;
        }
    }

     &__value {
        font-size: 14px;
        color: var(--color-grey-dark);
    }

    p {
        color: var(--color-text-main);
        &:not(:last-child) {
            margin-bottom: 15px;
        }
    }

    &__description {
        margin-bottom: 30px;

        p {
            color: var(--color-text-main);
            &:not(:last-child) {
                margin-bottom: 15px;
            }
        }
    }

    &__info {
        display: flex;
        align-items: center;
        gap: 15px;
    }
}

.film-info {
    &__link {
        font-size: 14px;
        color: var(--color-grey-dark);
        transition: color .2s linear;

        &:hover {
            color: var(--color-text-main);
            transition: color .2s linear;
        }
    }
}
