@import url(https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&family=Ubuntu:wght@500;700&display=swap);
@charset "UTF-8";
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul:not([class]),
ol:not([class]),
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Nunito", sans-serif;
  font-size: 18px;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
.container {
  margin: 0 auto;
  max-width: 1230px;
  padding: 0 15px;
}

.logo {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-size: 50px;
  color: #ffc85b;
}

.main {
  flex: 1 0 auto;
  margin-bottom: 30px;
}

:root {
  --color-active: #fe9971;
  --color-green: #379956;
  --color-yellow: #ffc85b;
  --color-grey: #eeeeee;
  --color-grey-dark: #666666;
  --color-blue: #234c63;
  --color-text-main: #0d1321;
}

.page-home,
.page-movies,
.page-movie-single {
  display: flex;
  flex-direction: column;
}

.page__title {
  margin-top: 30px;
  margin-bottom: 30px;
}

.header {
  margin-top: 2em;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #379956;
}

.footer {
  margin-bottom: 2em;
}
.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-blue);
}
.footer__copyright {
  color: var(--color-grey);
  font-size: 14px;
}
.footer__logo {
  font-size: 32px;
}

.nav__items {
  display: flex;
}
.nav__item:not(:last-child) {
  margin-right: 20px;
}
.nav__link {
  color: #eeeeee;
  transition: color 0.2s linear;
}
.nav__link:hover, .nav__link--active {
  color: var(--color-active);
  transition: color 0.2s linear;
}

.films {
  display: flex;
  flex-direction: column;
}
.films-pagination {
  display: flex;
}
.films-pagination__item:not(:last-child) {
  margin-right: 15px;
}
.films-pagination__link {
  color: var(--color-green);
}

.film {
  display: flex;
  gap: 30px;
  margin-bottom: 35px;
}
.film__content {
  display: flex;
  flex-direction: column;
}
.film__poster {
  display: block;
  width: 100px;
  height: 150px;
  -o-object-fit: cover;
  object-fit: cover;
}
.film__title {
  margin-bottom: 20px;
  font-size: 24px;
  color: var(--color-blue);
}
.film p {
  color: var(--color-text-main);
}
.film p:not(:last-child) {
  margin-bottom: 15px;
}
.film__description {
  margin-bottom: 30px;
}
.film__description p {
  color: var(--color-text-main);
}
.film__description p:not(:last-child) {
  margin-bottom: 15px;
}
.film__info {
  display: flex;
  align-items: center;
  gap: 15px;
}

.movie {
  margin-top: 30px;
}
.movie__main {
  display: flex;
  gap: 30px;
  margin-bottom: 50px;
}
.movie__content {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}
.movie__about {
  margin-bottom: 40px;
}
.movie__img {
  width: 300px;
  height: 450px;
}
.movie__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.movie__title {
  margin-bottom: 20px;
  line-height: 1;
}
.movie__description {
  margin-bottom: 50px;
}
.movie__description p {
  color: var(--color-text-main);
}
.movie__description p:not(:last-child) {
  margin-bottom: 15px;
}

.movie-info {
  display: flex;
  flex-direction: column;
}
.movie-info__item {
  display: flex;
  align-items: baseline;
}
.movie-info__key {
  padding-right: 10px;
  width: 200px;
  font-size: 16px;
  color: var(--color-grey-dark);
}
.movie-info__value {
  padding-left: 10px;
  font-weight: 600;
}

.movie-gallery {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  margin-bottom: 50px;
}
.movie-gallery__item {
  height: 150px;
}
.movie-gallery__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
@media (prefers-reduced-motion: reduce){
  * {
    -webkit-animation-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
